* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: radial-gradient(#ffb11f, #ff791f);
}

.app {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Helvetica, sans-serif;
}

.app-container {
  width: 100%;
}

.synth-interface {
  -webkit-box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
          box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 40px;
  background-color: #ffb11f;
}

.top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #414040;
  background: lightgray;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.2rem;
  width: 70%;
  text-align: center;
  border-style: solid;
  border-color: grey;
  border-width: 5px 0;
  text-shadow: 3px 3px 0px grey, 6px 6px 0px rgba(173, 171, 171, 0.801), 9px 9px 0px #d8d8d8;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  width: 15%;
  background: black;
}

.btn__on {
  border-top-left-radius: 40px;
}

.btn__record {
  border-top-right-radius: 40px;
}

.main-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.module__source {
  width: 60%;
}

.module__delay {
  width: 40%;
}

.module__delay .control:last-of-type {
  border: 0;
}

.module__delay .module-options {
  border: 0;
  border-top: 1px groove;
  font-weight: 600;
}

.module-title {
  border-style: groove;
  border-width: 0 0 1px 0;
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px;
}

.module-title__source {
  border-style: groove;
  border-width: 0 1px 1px 0;
}

.module-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-width: 0 1px 0 0;
  border-style: groove;
  font-size: 0.7rem;
}

.module-options select {
  background: lightgrey;
  border-radius: 6px;
  font-size: 0.7rem;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 10px;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  padding: 10px 0 25px 0;
  border-style: groove;
  border-width: 0 1px 0 0;
}

.control label {
  margin-top: 10px;
  font-weight: 600;
}

.control__source {
  width: 25%;
}

.control__delay {
  width: 50%;
}

input[type="range"][orient="vertical"] {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-appearance: slider-vertical;
     -moz-appearance: slider-vertical;
          appearance: slider-vertical;
  cursor: pointer;
  width: 20px;
}

#info-section {
  margin: 0 5%;
}

#info-section p {
  margin-top: 30px;
}

#info-section h2 {
  font-size: 1.17em;
  margin-top: 30px;
  padding-bottom: 20px;
}

#info-section ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

footer svg {
  width: 2.5em;
}

@media only screen and (min-width: 600px) {
  .app-container {
    width: 75%;
  }
  .control {
    font-size: 0.9rem;
  }
  #info-section {
    margin: 0;
  }
  .module-options {
    font-size: 0.9rem;
  }
  .module-options select {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 900px) {
  .app-container {
    width: 50%;
  }
}
/*# sourceMappingURL=index.css.map */