* {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.top {
    display: flex;
}

.title {
    color: rgb(65, 64, 64);
    font-size: 70px;
    font-style: italic;
    letter-spacing: 16px;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: grey;
    border-width: 5px 0;
    text-shadow: 3px 3px 0px grey, 6px 6px 0px rgba(173, 171, 171, 0.801), 9px 9px 0px rgb(216, 216, 216);
}

.on-btn {
    padding: 20px;
    background: black;
    font-size: 40px;
    color: white;
}

.record-btn {  
    width: 120px;
    background: black;
    display: flex;
    justify-content: center;
}

.square {
    width: 35px;
    height: 35px;
    background-color: red;
}

.circle {
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50px;
}

.module-Title {
    border-style: groove;
    border-width: 0 0 1px 1px;
    font-size: 20px;
    padding: 20px 0 5px 0;
}

.controls {
    background-color: rgb(255, 177, 31);
    font-weight: bold;
    text-align: center;
    display: flex;
    padding: 0 0 10px 0;
}

.module {
    display: flex;
    flex-direction: column;
}

.control {
    padding: 20px;
    width: 60px;
    border-style: groove;
    border-width: 0 0 0 1px;
    margin-top: 15px;
}

.first-control {
    border-width: 0;
}

.first-module-title {
    border-width: 0 0 1px 0;
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 150px;
    max-width: 20px;
    cursor: pointer;
}

label {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.recording {
    display: flex;
    justify-content: space-around;
}

h3 {
    margin-top: 30px;
    padding-bottom: 20px;
}